In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('/home/surbhi/deadline_project/data_2nov_2019/driver type/driver1/phone_type/one_plus/event_type/normal/BIKE 02Nov,2019-09-58-04 AM/copy.csv')

In [10]:
data.head()

          x         y         z
0  0.051559  3.046524  9.124908
1 -0.177948  3.069382  9.079300
2 -0.491165  3.008011  9.137207
3 -0.479614  3.006958  9.231461
4 -0.274719  3.042206  9.221771

In [11]:
len(data)

76838

In [12]:
def fileBreak(dataframe,filename):
    length = len(dataframe)
    if length <= 500:
        dataframe.to_csv(filepath+filename+'.csv',index=True)
    else:
        half = length//2
        one_fourth = half // 2
        three_quarter = (half + length) // 2
        dataframe.iloc[0:one_fourth].to_csv(filepath+filename+'.1.csv',index=True)
        dataframe.iloc[one_fourth:half].to_csv(filepath+filename+'.2.csv',index=True)
        dataframe.iloc[half:three_quarter].to_csv(filepath+filename+'.3.csv',index=True)
        dataframe.iloc[three_quarter:].to_csv(filepath+filename+'.4.csv',index=True)
        fileBreak(dataframe.iloc[0:one_fourth], filename+'.1')
      
        fileBreak(dataframe.iloc[one_fourth:half], filename+'.2')
      
        fileBreak(dataframe.iloc[half:three_quarter], filename+'.3')
      
        fileBreak(dataframe.iloc[three_quarter:], filename+'.4')

In [13]:
filepath = '/home/surbhi/deadline_project/data_2nov_2019/driver type/driver1/phone_type/one_plus/event_type/normal/BIKE 02Nov,2019-09-58-04 AM/division/'

In [14]:
fileBreak(data, 'part')